@media (max-width: 306px) {
    .terms-page{
        background-color: rgb(250, 250, 250);
        height: 100%;
    }
}

@media (max-width: 568px) {
    .terms-page{
        background-color: rgb(250, 250, 250);
        height: 100%;
    }
}

@media (max-width: 992px) {
    .terms-page{
        background-color: rgb(250, 250, 250);
        height: 100%;
    }
}

@media (min-width: 992px) {
    .terms-page{
        background-color:rgb(250, 250, 250);
        height: 100%;
    }
}

.terms-context {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
}