@media (max-width: 306px) {
    .blogs-page{
        background-color: rgb(250, 250, 250);
        height: 710px;
    }
}

@media (max-width: 568px) {
    .blogs-page{
        background-color: rgb(250, 250, 250);
        height: 710px;
    }
}

@media (max-width: 992px) {
    .blogs-page{
        background-color: rgb(250, 250, 250);
        height: 710px;
    }
}

@media (min-width: 992px) {
    .blogs-page{
        background-color:rgb(250, 250, 250);
        height: 710px;
    }
}