@import "../../public/assets/COLORS.css";

@media (max-width: 768px) {
    .NavBar{
        display: flex;
        background: var(--main-color);
        background: -moz-linear-gradient(-45deg,  var(--main-color) 0%, var(--main-color1) 100%);
        background: -webkit-linear-gradient(-45deg,  var(--main-color1) 0%,var(--main-color) 100%);
        background: linear-gradient(135deg,  var(--main-color) 0%,var(--main-color1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc6e6a', endColorstr='#f78950',GradientType=2 );
        height: 55px;
        padding: 5px;
        border-style: none none none none;
        border-radius: 0.5px;
        border-color: #EAECEE;
        justify-content: space-around;

        position: -webkit-sticky;
        position: sticky;
        top: 0;
        
    }
    .components {
        display: none;
        margin-right: 10px;  
        flex-direction: row;
    }

    .company-name-container {

    }

    .navBar-components{
        display: flex;
        margin-left: 20px;
        flex-direction: column;
    }

    .title {
        font-size: 30px;
        color: var(--main-color);
        font-weight: 800;
    }

    .dropDownLogo {
        width: 30px;
        height: 30px;
        cursor:pointer;
    }

    .logo-container {
        display: flex;
        flex-direction: row;
    }
    
    .urlLinks-navbar {
        margin-right: 20px;
        margin-left: 20px;
        text-decoration: none;
        color: white;
    } 
    
    .logo {
        width: 60px;
        height: 60px;
        margin-left: 32px;
        cursor:pointer;
    }
    .logo-text {
        color: white;
        align-self: center;
        margin-left: 10px;
        text-decoration: none;
        size: 15px;
        font-weight: bold;
        cursor:pointer;
    }
}

@media (max-width: 992px) {
    .NavBar{
        display: grid;
        grid-template-columns: 6fr 6fr 1fr;
        background: var(--main-color);
        background: -moz-linear-gradient(-45deg,  var(--main-color) 0%, var(--main-color1) 100%);
        background: -webkit-linear-gradient(-45deg,  var(--main-color1) 0%,var(--main-color) 100%);
        background: linear-gradient(135deg,  var(--main-color) 0%,var(--main-color1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc6e6a', endColorstr='#f78950',GradientType=2 );
        height: 55px;
        padding: 5px;
        border-style: none none none none;
        border-radius: 0.5px;
        border-color: #EAECEE;
        justify-content: space-around;

        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    .components {
        display: none;
        margin-right: 10px;  
        flex-direction: row;
    }

    .navBar-components{
        display: flex;
        position: absolute;
        margin-left: 20px;
        flex-direction: column;
    }

    .title {
        font-size: 30px;
        color: var(--main-color1);
        font-weight: 800;
    }

    .navBar {
        display: flex;
    }

    .navBar-parent {
        width: 100%;
        height: 50px;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-color: none;
        border-style: none none none none;
    }

    .dropDownLogo {
        width: 30px;
        height: 30px;
        cursor:pointer;
        margin-top: 10px;
        margin-left: 50px;
    }

    .logo-container {
        display: flex;
        flex-direction: row;
    }
    
    .urlLinks-navbar {
        margin-right: 20px;
        text-decoration: none;
        color: black;
    } 

    .search-component {
        display: none;
        flex-direction: row-reverse;
    }

    .search-placeholder {
        margin-top: 10px;
        background-color: var(--main-color);
        border-radius: 5px;
        height: 30px;
        font-weight: 400;
        padding-left: 10px;
    }

    .search-buttom{
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-color: none;
        border-style: none none none none;
    }

    .destination {
        width: 40px;
        height: 40px;
        align-self: center;
    }

    .destination:hover {
        width: 47px;
        height: 47px;
        align-self: center;
    }
    
    .logo {
        width: 60px;
        height: 60px;
        margin-left: 32px;
        cursor:pointer;
    }
    .logo-text {
        color: black;
        align-self: center;
        margin-left: 10px;
        text-decoration: none;
        size: 20px;
        font-weight: bold;
        cursor:pointer;
    }
}

@media (min-width: 992px) {
    .NavBar{
        display: flex;
        background: var(--main-color);
        background: -moz-linear-gradient(-45deg,  var(--main-color) 0%, var(--main-color1) 100%);
        background: -webkit-linear-gradient(-45deg,  var(--main-color1) 0%,var(--main-color) 100%);
        background: linear-gradient(135deg,  var(--main-color) 0%,var(--main-color1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc6e6a', endColorstr='#f78950',GradientType=2 );
        height: 55px;
        padding: 5px;
        border-style: none none none none;
        border-radius: 0.5px;
        border-color: #EAECEE;
        justify-content: space-around;

        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
    .company-name-container{
        display: none;
    }

    .search-component {
        display: flex;
        flex-direction: row-reverse;
    }

    .search-placeholder {
        margin-top: 20px;
        background-color: var(--main-color);
        border-radius: 10px;
        height: 20px;
        font-weight: 400;
        padding-left: 10px;
    }

    .search-buttom{
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-color: none;
        border-style: none none none none;
    }

    .search-icon {
        width: 40px;
        height: 40px;
        align-self: center;
    }

    .search-icon:hover {
        width: 42px;
        height: 42px;
        align-self: center;
    }

    .destination {
        width: 40px;
        height: 40px;
        align-self: center;
    }

    .destination:hover {
        width: 47px;
        height: 47px;
        align-self: center;
    }

    .components {
        display: flex;
        margin-right: 10px;  
        flex-direction: row;
    }

    .logo-container {
        display: flex;
        flex-direction: row;
    }

    .navBar {
        display: none;
    }
    
    .urlLinks {
        display: flex;
        flex-direction: row;
        margin-right: 20px;
    } 


    .urlinks-text{
        color: black;
        text-decoration: none;
    }

    .urlinks-text:hover {
        color: var(--gray-color);
        text-decoration: none;
    }
    
    .logo {
        width: 60px;
        height: 60px;
        margin-left: 32px;
        cursor: pointer;
    }
    .logo-text {
        color: black;
        margin-left: 15px;
        text-decoration: none;
        size: 25px;
        font-weight: 400;
        cursor:pointer;
    }

}

.drob-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.drob-icon {
    width: 35px;
    height: 35px;
    justify-self: center;
}



