@media (max-width: 568px) {
    .faq-divider{
        display: flex;
        flex-direction: column;
    }

    .we-image {
        width: 60%;
        height: 60%;
    }
}

@media (max-width: 992px) {
    .faq-divider{
        display: flex;
        flex-direction: column;
    }
    .we-image {
        width: 60%;
        height: 60%;
    }

    .faq-title {
        margin-left: 10%;
    }
}

@media (min-width: 992px) {
    .faq-divider{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .we-image {
        width: 100%;
        height: 100%;
    }
}

.instagram-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.faq{
    background-color: rgb(250, 250, 250);
    height: 100%;
    width: 100%;
    margin-bottom: 100px;
}

.questions-container {
    margin-top: 5%;
    display: table-column;
    width: 100%;
    height: 100%;
}

.single-question-container {
    padding-left: 10%;
    padding-right: 3%;
    margin-bottom: 3%;
}

.side-component {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

.img-faq {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-img{
    position: relative;
    width: 80%;
    height: 60%;
}

.instagram-post-holder {
    width: 370px;
    height: 100%;
    background-color: aqua;
}

.instagram-faq {
    margin-left: 20px;
    margin-right: 20px;
}

.questions-title {
    font-size: 20px;
    font-weight: bolder;
}

.faq-image-container {
    width: 100%;
    height: 100%;
}